<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Snow and RainDrop</title>
    <link rel="stylesheet" href='/styles/style.css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.2/paper-full.min.js"></script>
    <svg id="raindrop" style="width:79px; height:94px;" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <img x="0" y="0" width="79" height="94" src="svg/raindrop.svg" />
    </svg>
</head>

<body>
    <canvas id="raindropCanvas" resize stats hidpi="off"></canvas>
    <script type="text/paperscript" src="js/snow.js" canvas="raindropCanvas"></script>
    <script type="text/paperscript" src="js/raindrop.js" canvas="raindropCanvas"></script>-->
</body>

</html>